.column{
    display: flex;
    flex-grow: 1;
    padding-top: 100%;
}

.rows{
    display: contents;

}

#container{
    display: grid;
    flex-direction: column;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    width: 480px;
    height: 480px;
}

.clicked{
    color: white;
    background-color: black;
}
